$principal: #125688;
$secondary: #4090DB;
$dark: #424652;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$uLight-gray: #f9f9f9;
$gray: #939393;
$red: #ff4c4c;

#index{
    .picture{
        text-align: center;
        border-radius: 1px;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        background: $white;
        border: 1px solid $light-gray;
        .user{
            .info{
                padding: 1.5em 1em;
                text-align: left;
                float: left;
                width: 50%;
                .img_user{
                    width: 30px;
                    display: inline-block;
                }
                .name_user{
                    display: inline-block;
                    vertical-align: middle;
                    a{
                        text-decoration: none;
                        color: $principal;
                        font-size: 15px;
                        font-weight: 600;
                        &:hover{
                            color: $dark;
                        }
                    }
                }
            }
            .time{
                float: right;
                padding: 1.5em 1em;
                text-align: right;
                color: $gray;
            }
        }
        .img{
            text-align: center;
            position: relative;
            margin-bottom: 1.5em;
            width: 100%;
            img{
                width: 100%;
            }
            .info_pic{
                display: none;
            }
            &:hover{
                .info_pic{
                    background: -webkit-linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)); /* For Safari 5.1 to 6.0 */
              		background: -o-linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)); /* For Opera 11.1 to 12.0 */
              		background: -moz-linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)); /* For Firefox 3.6 to 15 */
             		background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)); /* Standard syntax */
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    h3{
                        color: $white;
                        font-size: 20px;
                        margin-top: 20%;
                        span{
                            padding-left: 3em;
                        }
                    }
                }
            }
        }
        .bottom{
            padding: .5em 1em;
            text-align: left;
            .description{
                a{
                    text-decoration: none;
                    color: $principal;
                    font-size: 15px;
                    font-weight: 600;
                    margin-right: .5em;
                    &:hover{
                        color: $dark;
                    }
                }
                padding-bottom: .3em;
            }
            .desc_comments{
                padding-bottom: 1em;
            }
            .comment{
                position: relative;
                padding: .15em 0;
                a{
                    text-decoration: none;
                    color: $principal;
                    font-size: 15px;
                    font-weight: 600;
                    margin-right: .5em;
                    &:hover{
                        color: $dark;
                    }
                }
                a.delete-comment{
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    color: $dark;
                    &:hover{
                        color: $red;
                    }
                }
            }
            .comment_like_form{
                border-top: 1px solid $light-gray;
                position: relative;
                a{
                    text-decoration: none;
                    position: absolute;
                    top: 20px;
                    left: 0;
                    font-size: 15px;
                    color: $gray;
                    display: inline-block;
                }
                .change-icon > .fa:nth-child(2) {
                  display: none;
                }
                a:hover{
                    .change-icon > .fa:nth-child(1) {
                      display: none;
                    }
                    .change-icon > .fa:nth-child(2) {
                      display: inherit;
                    }
                }
                .comment_form{
                    margin-left: 2em;
                    display: inline-block;
                    width: 90%;
                    h3{
                        font-size: 15px;
                        font-weight: 300;
                        height: auto;
                    }
                    .comment_content{
                        border: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}

#show{
    .picture{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 935px;
        height: auto;
        img{
            display: inline-block;
            display: block;
            padding: 0;
            float: left;
        }
        .all{
            position: relative;
            display: inline-block;
            padding: 0 24px;
            margin: 0;
            background: $white;
            overflow: hidden;

            .user{
                height: 78px;
                width: 287px;
                border-bottom: 1px solid $light-gray;
                padding: 20px 0;
                font-size: 16px;
                a{
                    text-decoration: none;
                    color: $principal;
                    font-size: 15px;
                    line-height: 37px;
                    font-weight: 600;
                    &:hover{
                        color: $dark;
                    }
                }
                img{
                    margin-right: 5px;
                }
            }
            .likes{
                font-weight: 600;
                height: 58px;
                width: 287px;
                padding: 20px 0;
                .count{
                    display: inline-block;
                    text-align: left;
                    width: 50%;
                }
                .time{
                    display: inline-block;
                    text-align: right;
                    width: 50%;
                    float: right;
                    color: $gray;
                }
            }
            .desc_comments{
                width: 287px;

                a{
                    text-decoration: none;
                    color: $principal;
                    font-size: 15px;
                    font-weight: 600;
                    &:hover{
                        color: $dark;
                    }
                }
                .description{
                    font-size: 15px;
                }
                .comment{
                    position: relative;
                    padding: .15em 0;
                    a{
                        text-decoration: none;
                        color: $principal;
                        font-size: 15px;
                        font-weight: 600;
                        margin-right: .5em;
                        &:hover{
                            color: $dark;
                        }
                    }
                    a.delete-comment{
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        color: $dark;
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
            .comment_like_form{
                height: 68px;
                bottom: 0;
                right: 24px;
                width: 287px;
                position: absolute;
                border-top: 1px solid $light-gray;
                a.fa{
                    text-decoration: none;
                    font-size: 15px;
                    color: $gray;
                    display: inline-block;
                    margin-right: 2px;
                }
                .change-icon > .fa:nth-child(2) {
                  display: none;
                }
                a:hover{
                    .change-icon > .fa:nth-child(1) {
                      display: none;
                    }
                    .change-icon > .fa:nth-child(2) {
                      display: inherit;
                    }
                }
                a.log_in{
                    color: $principal;
                    text-decoration: none;
                    &:hover{
                        color: $dark;
                    }
                }
                .comment_form{
                    margin-left: 1em;
                    display: inline-block;
                    width: 80%;
                    h3{
                        font-size: 15px;
                        font-weight: 300;
                    }
                    .comment_content{
                        border: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}
